@font-face{
    font-family: 'fontTitle';
    src:local('fontTitle') ,
    url(../font/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'fontAbel';
    src:local('fontAbel') ,
    url(../font/Abel-Regular.ttf);
}

body{
    margin:0px;
    padding: 0px;
    font-size:13px;
    font-family: "Yu Gothic", YuGothic, "Hiragino Sans", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
}
.btn{
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(255, 255, 255);
    color: rgb(66, 66, 66);
    padding: 20px 50px;
    border-bottom: solid 4px rgb(165, 165, 165);
    text-decoration: none;
}
.btn:hover{
    color:rgb(224, 127, 0);
    transition: all 0.4s; /*アニメーションの時間を指定*/
}
.btn:active{
    border: 1px solid rgb(165, 165, 165); 
    background-color: rgba(165, 165, 165,0.2);
}

.bd-break{
    width: 250px;
    height: 0px;
    margin: auto;
    border-bottom: 1px solid rgb(165, 165, 165);
}

h1{
    color:rgba(66,66,66,1.0);
    font-family: 'fontTitle','Lato','Noto Sans','Hiragino Kaku Gothic Pro',"Montserrat","游ゴシック";
    font-size:30px;
    font-weight:normal;
}
.txt-red{
    color:red;
}

header{
    position: relative;
    height:250px;
}
.h-title{
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
    margin: auto;
    height:69px;
}
.h-title-h1{
    font-size:30px;
    font-family: fontAbel,"Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    color:white;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
}

.h-set{
    position: relative;
    min-width: 1000px;
    background-image: url("../img/header3.jpg");
    background-position: center top; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;   
    height:250px;

    position: absolute;
    top: 0;
    left: 0;
}
header .bg-black{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}
.bg-black .h-title{
    text-align:center;
    z-index: 100;
}

.h-nav{
    position: fixed;
    top:0px;
    left:0px;
    margin:0px;
    height:65px;
    width: 100%;
    z-index: 100; /*ナビが画像の下に行く為*/
}
.h-nav ul{
    float: right;
    padding-right: 20px;
}
.h-nav li{
    display: inline-block;
    font-size:14px;
}
.h-nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding:10px 10px;
}
.h-nav img{
    width: 75px;
    height: 50px;
    margin:-3px 20px;
}
.h-nav-l a:hover{
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}


.main{
    margin: auto;
    width:1000px;

}





.concept{
    height:1650px;
    background-color: white;
}
.c-message{
    color:rgb(75,75,75);
    font-family: "Noto Sans JP";
    padding: 2em;
    padding-top:100px;
    margin-top: 50px;
    text-align:center;
    font-size:30px;
    line-height: 48px;
    font-weight: bold;
    letter-spacing: 0.1em;

    background: url(../img/border1_sankaku.png);
    background-position: 50% 65%;
    background-repeat: no-repeat;
}
.c-title{
    padding:50px 30px 30px 30px;
}

.c-list{
    width: 100%;
    height: 666px;
}
.c-set{
    position: relative;
}
.c-imgflame{
    position: absolute;
    z-index: 1;
    top: 100px;
    left:50px;
    width:65%;
}

.c-img{
    width: 600px;
    height:auto;
    padding-top:50px;
    z-index: 1;
}
.c-sec{
    padding:10px;
}
.c-text{
    max-width: 500px;
    width:60%;
    height:400px;
    text-align: center;
    background-color: rgba(245,245,245,0.8);
    position: absolute;
    top: 200px;
    right:50px;
    z-index: 10;
}
.c-imgflame2{
    position: absolute;
    z-index: 2;
    top: 100px;
    right:50px;
    width:65%;
}
.c-text2{
    max-width: 500px;
    width:60%;
    height:400px;
    text-align: center;
    background-color: rgba(245,245,245,0.8);
    position: absolute;
    top: 200px;
    left:50px;
    z-index: 10;
}
.c-sec2{
    padding:0px 10px;
}




.footer{
    text-align:center;
    font-size:13px;
    background-color:rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 16px 0;
    line-height: 2;
    min-width: 1000px;
}
.footer-under{
    font-size:12px;
}
.footer a{
    text-decoration:none;
    color: #ffffff;
}
.footer a:hover{
    color: rgba(0, 195, 255);
}


.clear{
    /* floatを解除 */
    clear: both;
  }


  @media screen and (max-width:1000px){
    .h-set{
        background-size:100%;
    }
}
/* レスポンシブ:725px */
@media screen and (max-width:725px){

    .main{
        width:auto;
    }
    .h-set{
        min-width:initial;
    }
    .footer{
        min-width: initial;
    }



    .concept{
        height:2500px;        
    }
    .c-message{
        font-size:30px;    
        background: none;
    }
    .c-list{
        width: 100%;
        height: 1100px;
    }
    .c-set{
        position: static;
        width: 100%;
    }
    .c-text, .c-text2{
        max-width: initial;
        width:90%;
        height:400px;
        margin:0 auto;
        text-align: center;
        position: static;
        z-index: auto;
    }
    .c-imgflame, .c-imgflame2{
        position: static;
        z-index: auto;
        width:100%;
    }
    
    .c-img{
        width: 100%;
        padding-top:50px;
        z-index: auto;
    }
    .c-sec{
        padding:auto;
    }

    
    

    .h-nav ul{
        display: none;
    }

    /*【 ハンバーガーメニュー 】トグルボタンのスタイルを指定*/
    .Toggle {
        display: block;
        position: fixed;    /* bodyに対しての絶対位置指定 */
        right: 25px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: 101; /*h-navが100な為その上に表示*/
    }
    
    .Toggle span {
        display: block;
        position: absolute;
        width: 30px;
        border-bottom: solid 3px white;
        -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
        -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
        transition: .35s ease-in-out;			/*変化の速度を指定*/
        left: 6px;
    }
    
    .Toggle span:nth-child(1) {
        top: 9px;
    }
    
    .Toggle span:nth-child(2) {
        top: 18px;
    }
    
    .Toggle span:nth-child(3) {
        top: 27px;
    }
}
@media screen and (max-width:400px){
    .h-set{
        background-image: url("../img/header2.jpg");
        background-size: 100%;
    }    
}
@media screen and (min-width:725px){
    /*ハンバーガーメニュー 画面広げたらhbのメニュー部分非表示*/
    nav.NavMenu{
        display: none;
    }
}


/*ハンバーガーメニュー*/
/*ナビメニューのスタイルを指定*/
nav.NavMenu{
    position: fixed; /*表示位置を固定*/
    z-index: 101; /*重ね順を変更*/
    top: 80px; /*表示位置を指定*/
    left: 0; /*表示位置を指定*/
    background: rgba(0, 0, 0, 0.5);
    width: 100%; /*全幅表示*/
    height: 400px;
    transform: translateY(-200%); /*ナビを上に隠す*/
    transition: all 0.3s; /*アニメーションの時間を指定*/
}
    
nav.NavMenu ul{
    width: 100%;
    list-style: none;
}
    
.NavMenu .hb-nav-l{
    width:50%;
    height:50px;
}

.NavMenu .hb-nav-l a{
    font-size: 13px;
    color:white;
    width: 100%;
    height: 100%;
    padding:0 20px;
    line-height: 50px;
    display: block; /*クリックできる領域を広げる*/
    text-decoration: none;
}
.NavMenu .hb-nav-l a:hover{
    background-color: rgba(0, 195, 255, 0.4)
}


/*トグルボタンが押されたときに付与するクラス*/
nav.NavMenu.active{
    transform: translateY(0%);
}

/* 最初のspanをマイナス45度に */
.Toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
 
/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}